* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/dynamic-style.png");
}
#title {
  font-weight: bold;
  font-size: 20px;
  width: 180px;
  background: orange;
  padding: 14px;
  margin: 12px;
  text-align: center;
}
#info {
  margin: 10px;
}
p {
  font-size: 10px;
  width: 300px;
  padding: 10px;
  border: none;
  background: teal;
  color: burlywood;
}
.row {
  margin: 10px;
  height: 80px;
  position: relative;
}
.target {
  position: absolute;
  top: 0px;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  height: 80px;
  width: 140px;
  background: gray;
  color: red;
}
#target {
  width: 40px;
  left: 60px;
}
#winloss {
  position: absolute;
  top: 0px;
  left: 160px;
  text-align: center;
  padding: 20px;
  display: inline-block;
  background: purple;
  color: goldenrod;
  /* margin: px; */
  height: 80px;
  width: 140px;
}
#yourscore {
  margin: 10px;
  font-size: 20px;
  padding: 0px 20px 20px 20px;
  height: 80px;
  width: 100px;
  background: green;
  color: beige;
}
.crystals {
  margin: 10px;
}
.crystalPic {
  width: 80px;
  height: 80px;
}
